{% extends 'page.html' %}

{% block main %}
<main class="main detail">
  <article class="entry">
    <div class="meta">
      <h1 class="title">{{ entry.title }}</h1>
      {% if entry.created %}
      <time class="created" datetime="{{ entry.created }}">
        <span class="year">{{ entry.created.year }}</span>
        <span class="sep">/</span>
        <span class="month">{{ entry.created.month }}</span>
        <span class="sep">/</span>
        <span class="day">{{ entry.created.day }}</span>
      </time>
      {% endif %}
      {% set sep = '<hr />\n<hr />' %}
      {% if sep in entry.content %}
      {% set summary, content = entry.content.split(sep, maxsplit=1) %}
      {% else %}
      {% set summary, content = '', entry.content %}
      {% endif %}
      <div class="summary">
        {{ summary | safe }}
      </div>
    </div>
    <div class="content">
      {{ content | safe }}
      {% if global.config.disqus_enabled %}
      <div class="discuss">
        {% include 'discuss/disqus.html' %}
      </div>
      {% endif %}
    </div>
  </article>
</main>
{% endblock %}