{% extends 'layout.html' %}

{% block head %}
{{ super() }}
<title>{% if title %}{{ title }} - {% endif %}{{ global.site.title }}</title>
{% endblock %}

{% block main %}
<main class="main gallery square">
  <div class="entries">
    {% for entry in entries %}
    <div class="entry">
      <a class="img-link" href="{{ entry.url }}">
        <img src="{{ full_url(entry.cover) }}" alt="">
        <div class="title">{{ entry.title }}</div>
      </a>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}